.property-card-wrapper {
  max-width: 100%;
  // width: 470px;
  margin: 1rem auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  // height: 650px;
  flex-direction: column;
  padding: 0.5rem;
  cursor: pointer;
  justify-content: start;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
  /* Applying perspective to improve rendering */
  perspective: 1000px;
}

.property-card-header {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.prop-grid-property-card-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0; /* Rounded corners for the top */
}

.property-card-content {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 1rem;
  border-radius: 10px;
  text-align: left
  ;
}

.property-card-content .prop-card-loc-p-div {
  width: 100%;
}

.property-card-content .prop-card-loc {
  width: 100%;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  color: #555;
  margin-bottom: 0.5rem;
}
.property-card-prop-name{
  width: 100%;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.property-card-content h4 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #333;
}

.property-card-content p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

.property-card-content .configurations {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.configurations b {
  font-size: 1rem;
  color: #333;
}

.property-card-wrapper:hover {
  transform: scale(1.02) translateZ(0);
  // transition: transform 0.3s ease-in-out;
  // transform-origin: center center;
  // will-change: transform !important;
  /* Hinting the browser for smooth transformation */
}
.property-card-content {
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden; /* Prevents rendering issues with transforms */
}
.card-button-container {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.card-button-container .card-view-button {
  background-color: #7ab945;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.card-button-container .card-view-button:hover {
  background-color: #acd4b4;
  color: #7ab945;
  border: 1px solid #acd4b4;
}

.card-button-container .contact-button {
  background-color: #071739 !important;
  color: white !important;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-button-container .contact-button:hover {
  background-color: white !important;
  color: #071739 !important;
  border: 1px solid #071739 !important;
}

// .property-card-header {
//   position: relative;

//   .carousel-controls {
//       position: absolute;
//       top: 50%;
//       left: 0;
//       width: 100%;
//       display: flex;
//       justify-content: space-between;
//       transform: translateY(-50%);
//       z-index: 10;

//       .prev-button,
//       .next-button {
//           background-color: rgba(0, 0, 0, 0.5);
//           color: white;
//           border: none;
//           padding: 10px;
//           cursor: pointer;
//           font-size: 16px;
//           pointer-events: auto;
//       }

//       .prev-button:hover,
//       .next-button:hover {
//           background-color: rgba(0, 0, 0, 0.8);
//       }
//   }
// }

.limit-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.limit-popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.limit-popup-content h3 {
  margin-bottom: 10px;
}

.limit-popup-content button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #1c82c1;
  color: white;
  cursor: pointer;
}


.alice-carousel {
  position: relative;
}

.custom-prev-btn,
.custom-next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px; // Make the icon bigger
  z-index: 10;
  border-radius: 50%; // Make the background rounded
  width: 40px; // Set smaller width
  height: 40px; // Set smaller height
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.custom-prev-btn {
  left: 10px; // Position the previous button to the left
}

.custom-next-btn {
  right: 10px; // Position the next button to the right
}

.custom-prev-btn:hover,
.custom-next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8); // Change background on hover
}

@media (max-width: 868px) {
  .property-card-wrapper {
    max-width: 330px !important;
    margin-left: 2rem;
  }
  .property-card-content .prop-card-loc {
    width: 100%;
  }
}

@media (max-width: 1320px) {
  .property-card-wrapper {
    max-width: 380px !important;
  }
  .property-card-content .prop-card-loc {
    width: 80%;
  }
}
@media (max-width: 1050px) {
  .property-card-wrapper {
    max-width: 330px !important;
  }
  .property-card-content .prop-card-loc {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .property-card-wrapper {
    max-width: 450px !important;
  }
}
@media (max-width: 600px) {
  .property-card-wrapper {
    max-width: 530px !important;
  }
}
@media (max-width: 650px) {
  .property-card-wrapper {
    max-width: 320px !important;
  }
}
@media (max-width: 700px) {
  .property-card-wrapper {
    max-width: 330px !important;
  }
}
@media (max-width: 450px) {
  .property-card-wrapper {
    max-width: 390px !important;
  }
}
@media (max-width: 390px) {
  .propertyGrid-container > div {
    width: 90% !important;
  }
  .property-card-wrapper {
    max-width: 365px !important;
    // border: 1px solid blue;
    margin-left: 3rem !important;
  }
}
@media (max-width: 375px) {
  .property-card-wrapper {
    max-width: 370px !important;
  }
}
@media (max-width: 360px) {
  .property-card-wrapper {
    max-width: 340px !important;
    margin-left: 1rem !important;
  }
}
@media (max-width: 320px) {
  .property-card-wrapper {
    max-width: 285px !important;
    margin-left:.4rem !important
  }
}
